
@{
    ViewBag.Title = "Index";
}

<h2>This is Database Manager</h2><br>
<li>@Html.ActionLink("Create Users Table", "CreateOriginalTable", "DBManager")</li>
<li>@Html.ActionLink("Insert Original Data", "Insert", "DBManager")</li>
<li>@Html.ActionLink("Display All Users", "Display", "DBManager")</li>

